/* Note: this is just for reference, actual styles are inline */
@font-face{
font-family:'Carlito';
font-style:normal;
font-weight:400;
src:url(https://fonts.gstatic.com/l/font?kit=J7afnpV-BGlaFfdAtLY&skey=a1029226f80653a8&v=v15)format('truetype')
}
@font-face{
font-family:'Carlito';
font-style:normal;
font-weight:700;
src:url(https://fonts.gstatic.com/l/font?kit=J7aanpV-BGlaFfdAjAo9zps&skey=cd2dd6afe6bf0eb2&v=v15)format('truetype')
}
ol{
margin:0;
padding:0
}
table td,table th{
padding:0
}
.c5{
color:#000000;
font-weight:400;
text-decoration:none;
vertical-align:baseline;
font-size:11pt;
font-family:"Carlito";
font-style:normal
}
.c2{
padding-top:0pt;
padding-bottom:0pt;
line-height:1.0;
orphans:2;
widows:2;
text-align:left;
height:11pt
}
.c0{
color:#000000;
font-weight:400;
text-decoration:none;
vertical-align:baseline;
font-size:13pt;
font-family:"Carlito";
font-style:normal
}
.c10{
padding-top:0pt;
padding-bottom:6pt;
line-height:1.0;
page-break-after:avoid;
orphans:2;
widows:2;
text-align:center
}
.c7{
color:#000000;
font-weight:700;
text-decoration:none;
vertical-align:baseline;
font-size:24pt;
font-family:"Carlito";
font-style:normal
}
.c1{
padding-top:0pt;
padding-bottom:0pt;
line-height:1.0;
orphans:2;
widows:2;
text-align:justify
}
.c12{
color:#000000;
font-weight:400;
text-decoration:none;
vertical-align:baseline;
font-family:"Carlito";
font-style:italic
}
.c3{
padding-top:0pt;
padding-bottom:5pt;
line-height:1.0;
orphans:2;
widows:2;
text-align:center
}
.c9{
color:#000000;
font-weight:700;
text-decoration:none;
vertical-align:baseline;
font-size:18pt;
font-family:"Carlito";
font-style:normal
}
.c21{
background-color:#ffffff;
padding:72pt 72pt 72pt 72pt
}
.c4{
vertical-align: 0.25em;
font-size:10pt
}
.c8{
font-size:13pt
}
.c6{
height:11pt
}
.title{
padding-top:24pt;
color:#000000;
font-weight:700;
font-size:36pt;
padding-bottom:6pt;
font-family:"Carlito";
line-height:1.0;
page-break-after:avoid;
orphans:2;
widows:2;
text-align:left
}
li{
color:#000000;
font-size:11pt;
font-family:"Carlito"
}
p{
margin:0;
color:#000000;
font-size:11pt;
font-family:"Carlito"
}
