@font-face {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/l/font?kit=J7afnpV-BGlaFfdAtLY&skey=a1029226f80653a8&v=v15) format('truetype');

}
@font-face {
    font-family: 'Calibri';
    font-style: normal;
    font-weight: 700;
    src: url(https://fonts.gstatic.com/l/font?kit=J7aanpV-BGlaFfdAjAo9zps&skey=cd2dd6afe6bf0eb2&v=v15) format('truetype');

}
ol{
    margin:0;
    padding:0
}
table td,table th{
    padding:0
}
.c5{
    color:#000000;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:11pt;
    font-family:"Calibri";
    font-style:normal
}
.c2{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.0;
    orphans:2;
    widows:2;
    text-align:left;
    height:11pt
}
.c9{
    color:#000000;
    font-weight:700;
    text-decoration:none;
    vertical-align:baseline;
    font-size:18pt;
    font-family:"Calibri";
    font-style:normal
}
.c0{
    color:#000000;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-size:13pt;
    font-family:"Calibri";
    font-style:normal
}
.c7{
    color:#000000;
    font-weight:700;
    text-decoration:none;
    vertical-align:baseline;
    font-size:24pt;
    font-family:"Calibri";
    font-style:normal
}
.c10{
    padding-top:0pt;
    padding-bottom:6pt;
    line-height:1.0;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:center
}
.c1{
    padding-top:0pt;
    padding-bottom:0pt;
    line-height:1.0;
    orphans:2;
    widows:2;
    text-align:justify
}
.c12{
    color:#000000;
    font-weight:400;
    text-decoration:none;
    vertical-align:baseline;
    font-family:"Calibri";
    font-style:italic
}
.c3{
    padding-top:0pt;
    padding-bottom:5pt;
    line-height:1.0;
    orphans:2;
    widows:2;
    text-align:center
}
.c21{
    background-color:#ffffff;
    padding:72pt 72pt 72pt 72pt
}
.c4{
    vertical-align: 0.25em;
    font-size:10pt
}
.c8{
    font-size:13pt
}
.c6{
    height:11pt
}
.title{
    padding-top:24pt;
    color:#000000;
    font-weight:700;
    font-size:36pt;
    padding-bottom:6pt;
    font-family:"Calibri";
    line-height:1.0;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
.subtitle{
    padding-top:18pt;
    color:#666666;
    font-size:24pt;
    padding-bottom:4pt;
    font-family:"Georgia";
    line-height:1.0;
    page-break-after:avoid;
    font-style:italic;
    orphans:2;
    widows:2;
    text-align:left
}
li{
    color:#000000;
    font-size:11pt;
    font-family:"Calibri"
}
p{
    margin:0;
    color:#000000;
    font-size:11pt;
    font-family:"Calibri"
}
h1{
    padding-top:24pt;
    color:#000000;
    font-weight:700;
    font-size:24pt;
    padding-bottom:6pt;
    font-family:"Calibri";
    line-height:1.0;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h2{
    padding-top:5pt;
    color:#000000;
    font-weight:700;
    font-size:18pt;
    padding-bottom:5pt;
    font-family:"Times New Roman";
    line-height:1.0;
    orphans:2;
    widows:2;
    text-align:left
}
h3{
    padding-top:14pt;
    color:#000000;
    font-weight:700;
    font-size:14pt;
    padding-bottom:4pt;
    font-family:"Calibri";
    line-height:1.0;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h4{
    padding-top:12pt;
    color:#000000;
    font-weight:700;
    font-size:12pt;
    padding-bottom:2pt;
    font-family:"Calibri";
    line-height:1.0;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h5{
    padding-top:11pt;
    color:#000000;
    font-weight:700;
    font-size:11pt;
    padding-bottom:2pt;
    font-family:"Calibri";
    line-height:1.0;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}
h6{
    padding-top:10pt;
    color:#000000;
    font-weight:700;
    font-size:10pt;
    padding-bottom:2pt;
    font-family:"Calibri";
    line-height:1.0;
    page-break-after:avoid;
    orphans:2;
    widows:2;
    text-align:left
}

